Literature_Review_RAG-v2.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Literature_Review_RAG
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.6@ccaa2e58d18bf41746aa082a15a8fec7ea851886a1727cb4636571603bbb5351
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1772062082880-source-1772063962330-target
      source: '1772062082880'
      sourceHandle: source
      target: '1772063962330'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1772063962330-source-llm-target
      source: '1772063962330'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 75
      id: '1772062082880'
      position:
        x: 75
        y: 447
      positionAbsolute:
        x: 75
        y: 447
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772063962330'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 5b32e8d3-d443-4d2a-82bf-79b4bcd9fdb3
          role: system
          text: 'You are an academic research assistant.


            Use ONLY the retrieved context from Knowledge Retrieval.


            Rules:

            1) Grounding: Use only the provided excerpts; do not use outside knowledge.

            2) Evidence: Every substantive claim must be supported by at least one
            citation pointer.

            3) Integrity: Do not fabricate references, statistics, quotes, or author
            intent.

            4) If evidence is insufficient, say: "Not enough evidence in the provided
            sources."

            5) Preserve limitations and uncertainty if mentioned in the sources.

            6) If sources conflict, present both sides with citations.


            Do not fabricate information.'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 90
      id: llm
      position:
        x: 859
        y: 458
      positionAbsolute:
        x: 859
        y: 458
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 1264
        y: 431
      positionAbsolute:
        x: 1264
        y: 431
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - v6I4oOQgXYz+aPBz000kUrgp+/8F1DpHfwOeZaBWfDk3PjEELDlyVpXQRYXuMJE5
        - I7qCoif5x7tya5VkFosTZncrxIRMkOVZjFaBuR7Wh0yPm1C6VjXyN1fJx1R04qNr
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.05
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1772062082880'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 120
      id: '1772063962330'
      position:
        x: 429
        y: 458
      positionAbsolute:
        x: 429
        y: 458
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 45.31445566852017
      y: 312.36874166365845
      zoom: 0.5743491632610483
  rag_pipeline_variables: []
